.container {
  width: 100%;
  margin-bottom: 6rem; /* Add more space before the footer */
}

.content {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
}

.galleryContainer {
  width: 100%;
  height: 600px;
  position: relative;
  display: inline-block;
}
